{% load static %}
<!doctype html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>PUC-EATS • Esqueci minha senha</title>
  <link rel="stylesheet" href="{% static 'css/esqueci.css' %}">
</head>
<body>
  <header class="navbar">
    <h1 class="logo">PUC Eats</h1>
  </header>

  <div class="container">
    <h2>Esqueci minha senha</h2>
    <p>Informe seu e-mail para redefinir sua senha.</p>
    <input class="input" type="email" placeholder="nome.sobrenome@dominio.br" enabled>
  </div>
</body>
</html>
