* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.left-panel {
  background: url('../images/puc-campus.jpg');
  background-size: cover;      
  background-position: center; 
  background-repeat: no-repeat; 
  width: 600px;
  display: flex;
  align-items: flex-end;
  color: white;
}

.overlay {
  position: absolute;
  bottom: 30px;
  left: 30px;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
}

.overlay h1 {
  font-size: 28px;
  margin-bottom: 5px;
  color: white;
  text-emphasis-color: white;
}

.overlay p {
  font-size: 14px;
  color: white;
}

.right-side {
  flex: 1;
  background-color: #faf7ea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-box {
  width: 100%;
  max-width: 360px;
  padding: 20px;
}

h2 {
  text-align: center;
  color: #5b8c2a;
  font-weight: 600;
  margin-bottom: 5px;
}

.subtitle {
  text-align: center;
  color: #777;
  margin-bottom: 25px;
}

.input-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.input-group label {
  font-size: 14px;
  color: #5b5b5b;
  margin-bottom: 5px;
}

.input-group input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
  transition: border-color 0.3s;
}

.input-group input:focus {
  border-color: #5b8c2a;
  outline: none;
}

.terms {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: #555;
  margin-bottom: 20px;
}

.terms input {
  margin-right: 8px;
}

.terms a {
  color: #5b8c2a;
  text-decoration: none;
}

.terms a:hover {
  text-decoration: underline;
}

.btn {
  width: 100%;
  background-color: #84c21f;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  font-size: 15px;
  transition: background 0.3s;
}

.btn:hover {
  background-color: #76ad1c;
}

.divider {
  text-align: center;
  margin: 20px 0;
  font-size: 13px;
  color: #777;
  position: relative;
}

.divider span {
  background-color: #faf7ea;
  padding: 0 10px;
}

.btn-google {
  width: 100%;
  border: 1px solid #ccc;
  background: white;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  transition: background 0.3s;
}

.btn-google:hover {
  background: #f2f2f2;
}

.btn-google img {
  width: 18px;
  height: 18px;
}

.login-link {
  text-align: center;
  font-size: 13px;
  margin-top: 20px;
}

.login-link a {
  color: #5b8c2a;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}
